.main {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(./bg2.jpg);
}

.sign-in {
  background: linear-gradient(to right, #380db1, #ec7532);
  border-radius: 16px;
  padding: 28px;
  box-sizing: border-box;
}

.sign-in h1 {
  text-align: center;
  padding: 16px;
  color: white;
}

.sign-in a {
  color: white;
}

.lable-input {
  color: white;
}
.input-field {
  width: 100%;
  border: 0px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 18px;
}

.row-input {
  margin-bottom: 16px;
}

.button-signin {
  border: 0px;
  border-radius: 8px;
  background: white;
  color: #ec7532;
  font-weight: bolder;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0px;
}
